@model Validus.Console.DTO.SearchResultInsuredDto
<div class="val-display-insured-preview" data-target="/Insured/_InsuredSearchResultPreview?insuredName=">
    <strong>@Model.InsuredName (Insured)</strong><input type="hidden" class="hide" name="InsuredName" value="@Model.InsuredName" />
    <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
        <tbody>
            <tr style="color: #FFFFFF; font-size: 8pt; text-align: left; font-family: Tahoma">
                <td style="border-width: 0; color: #444444; font-weight: bold; padding: 0px 4px;">No Of Risks</td>
                <td />
                <td style="border-width: 0; color: #444444; font-weight: bold; padding: 0px 4px;">First Live Policy Year</td>
                <td />
                <td style="border-width: 0; color: #444444; font-weight: bold; padding: 0px 4px;">Last Live Policy Year</td>
                <td />
            </tr>
            <tr style="color: #FFFFFF; font-size: 8pt; text-align: left; font-family: Tahoma">
                <td style="border-bottom: 1px solid #73AEE6; color: #000000; font-weight: normal; padding: 0px 4px; border-left: 1px solid #73AEE6;" title="Total (Live/Non Live) Policies">@Model.NoOfRisks ( @Model.NoOfLiveRisks / @Model.NoOfOtherRisks)</td>
                <td style="border-bottom: 1px solid #73AEE6; font-size: 1pt; padding: 0px 4px; width: 8px" />
                <td style="border-bottom: 1px solid #73AEE6; color: #000000; font-weight: normal; padding: 0px 4px;">@Model.FirstYear</td>
                <td style="border-bottom: 1px solid #73AEE6; font-size: 1pt; padding: 0px 4px; width: 8px" />
                <td style="border-bottom: 1px solid #73AEE6; color: #000000; font-weight: normal; padding: 0px 4px;">@Model.LastYear</td>
                <td style="border-bottom: 1px solid #73AEE6; font-size: 1pt; padding: 0px 4px; width: 8px" />
            </tr>
        </tbody>
    </table>
</div>