@model List<Validus.Console.DTO.CrossSellingCheckDto>

<form class="form" method="get">
    <table class="val-cross-selling-datatable table table-condensed table-bordered table-hover datatable">
        <caption>Cross-selling</caption>
        <thead>
            <tr>
                <th class="val-cross-selling-title">Underwriter</th>
                <th class="val-cross-selling-title">Quoting Office</th>
                <th class="val-cross-selling-title"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var submission in Model)
                {
                    <tr>
                        <td class="val-cross-selling-title">
                            <div title="@submission.Underwriter">@submission.Underwriter</div>
                        </td>
                        <td class="val-cross-selling-title">
                            <div title="@submission.QuotingOffice">@submission.QuotingOffice</div>
                        </td>
                        <td class="val-cross-selling-title">
                            <a href="#" class="btn btn-mini val-edit-submission-cross-selling" title="@submission.ButtonTitle Submission" 
                               data-submission-id="@submission.SubmissionId" 
                               data-submission-type="@submission.SubmissionTypeId"
                               data-isreadonly="@submission.IsReadOnly.ToString().ToLower()">@submission.ButtonTitle</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>