<p><strong>Console</strong></p>
<p>Version: @ViewBag.ConsoleVersion</p>
<p>Model Version: @ViewBag.ModelVersion</p>
<hr />
<p><strong>API Services</strong></p>
<p>Version: @ViewBag.ServiceVersion</p>
<p>Model Version: @ViewBag.ServiceModelVersion</p>
<hr />
<p><strong>WCF Services</strong></p>
<p>Version: @ViewBag.WCFVersion</p>
<p>Data Contract Version: @ViewBag.WCFDataContractVersion</p>
<p>Data Access Version: @ViewBag.WCFDataAccessVersion</p>
<p>Business Logic Version: @ViewBag.WCFBusinessLogicVersion</p>
<hr />